/* Button Styles */
  .btn {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 14px !important;
    margin: 10px;
  }
  
  .btn-primary {
    background-color: var(--second-color);
    color: var(--fifth-color);
  }
  
  .btn-secondary {
    background-color: var(--first-color);
    color: var(--fifth-color);
  }
  
  .btn-accent {
    background-color: var(--third-color);
    color: var(--first-color);
  }
  