:root {
    --first-color: #277E93;
    --second-color: #00BD7E;
    --third-color: #94CB4F;
    --fourth-color: #F5F5F5;
    --fifth-color: #333333;
    --white: #ffffff;
  }
  
  /* Button Styles */
  .btn {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 16px;
  }
  
  .btn-primary {
    background-color: var(--second-color);
    color: var(--white);
  }
  
  .btn-secondary {
    background-color: var(--first-color);
    color: var(--white);
  }
  
  .btn-accent {
    background-color: var(--third-color);
    color: var(--fifth-color);
  }
  