.dialog {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .dialog .v-card {
    border-radius: 10px;
    overflow: hidden;
  }
  
  .dialog .v-card-title {
    background-color: var(--second-color); /* Primary Green */
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding: 16px;
  }
  
  .dialog .v-card-text {
    color: var(--fifth-color); 
    font-size: 16px;
    padding: 16px;
    background-color: var(--fourth-color); 
  }
  
  .dialog .v-card-actions {
    padding: 16px;
    background-color: var(--fourth-color); /* Light Grey */
  }
  
  .dialog .v-btn {
    background-color: var(--third-color); /* Secondary Green */
    color: var(--fifth-color);
    font-weight: bold;
  }
  
  .dialog .v-btn:hover {
    background-color: var(--second-color); /* Darker Green on hover */
  }
  
  .dialog .v-spacer {
    flex: 1;
  }