:root {
  --first-color: #277E93;
  --second-color: #00BD7E;
  --third-color: #94CB4F;
  --fourth-color: #F5F5F5;
  --fifth-color: #333333;
  --white: #ffffff;
}


a,
.green {
  text-decoration: none;
  color: rgb(255, 191, 0);
  transition: 0.4s;
  padding: 3px;
}


.main-table {
  background-color: var(--fourth-color);
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 20px;
}

.main-table th {
  background-color: var(--first-color);
  color: var(--white);
  padding: 10px 20px;
}


