:root {
  --first-color: #576490; /* Medium Blue */
  --second-color: #7796CB; /* Light Blue */
  --third-color: #A3BCF9; /* Very Light Blue */
  --fourth-color: #D1D2F9; /* Soft Grey */
  --fifth-color: #C9CAD9; /* White */
}



a,
.green {
  text-decoration: none;
  color: rgb(255, 191, 0);
  transition: 0.4s;
  padding: 3px;
}


.main-table {
  background-color: var(--fourth-color);
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 20px;
}

.main-table th {
  background-color: var(--first-color);
  color: var(--white);
  padding: 10px 20px;
}

.main-table th:hover {
  color: var(--fourth-color) !important;
}


