:root {
  --first-color: #112D4E; /* Dark Blue */
  --second-color: #3F72AF; /* Medium Blue */
  --third-color: #DBE2EF; /* Light Blue */
  --fourth-color: #F9F7F7; /* Very Light Grey */
  --fifth-color: #FFFFFF; /* White for text (added for better contrast) */
}

a,
.green {
  text-decoration: none;
  color: rgb(255, 191, 0);
  transition: 0.4s;
  padding: 3px;
}




