.text-primary {
  color: #00bd7e;
}

.text-secondary {
  color: #009960;
}

.text-dark {
  color: #333333;
}

.text-light {
  color: #f5f5f5;
}

.text-grey {
  color: grey !important;
}

.text-center{
    text-align: center;
}

.text-alert{
  color: #ff6f00
}
